#######################################################################
### Atenção, para usar este arquivo, você deve renomeá-lo para .env ###
#######################################################################

#######################################################################################################
### TOKEN do bot (Obrigatório/opcional caso use o método abaixo)                                    ###
### Nota: Você pode adicionar bots extras apenas criando uma config com um nome que que inicie com  ###
### TOKEN_BOT_ + nome qualquer (com apenas letras/números/underline) e no valor coloque o token.    ###
### Ex: TOKEN_BOT_MYBOT='aaabbbbbccccddddeeeefff.gggghhhhiiii'                                      ###
#######################################################################################################

TOKEN='' # <- Este em especifico não é obrigatório caso use o método que comece com TOKEN_BOT_
TOKEN_BOT_SECOND_BOT=''
TOKEN_BOT_THIRD_BOT=''
# Nota: Nos campos TOKEN_BOT_ você pode usar só o token no valor caso queira
# se o GLOBAL_PREFIX tiver desativado apenas a menção do bot contará como prefixo

# Prefixo padrão do bot (para bot que tiver usando key TOKEN informada acima)
# Nota: caso o GLOBAL_PREFIX esteja ativado, esse será o prefixo padrão para todos os bots.
DEFAULT_PREFIX='!!'

# Ativar/Desativar prefixo globalmente para todos os bots da instância
# Nota: em alguns comandos de música apenas o bot que está no mesmo canal de voz vai responder.
GLOBAL_PREFIX=true

# Baixar automaticamente uma lista de servidores lavalink públicos.
# Caso hospede na squarecloud/discloud em planos gratuitos (ou qualquer outra hospedagem com cpu/ram limitada)
# recomendo deixar esta configuração como true.
AUTO_DOWNLOAD_LAVALINK_SERVERLIST=false

# URL do mongoDB para database (caso não seja colocado, será usado database em arquivo .json). Veja como obter: https://github.com/zRitsu/disnake-LL-music-bot/wiki/MongoDB-Tutorial"
MONGO=''

# Recurso que serve para ativar registro de appcommands apenas nos bots informados abaixo.
# Nota: no campo abaixo você deve colocar o id dos bots (se tiver mais de um separe com espaço),
# outros bots fora dessa lista vão registrar apenas um comando para exibir a lista de convites
# dos bots informados abaixo.
INTERACTION_BOTS=''

##############################################
### Sistema de música - Suporte ao spotify ###
##############################################

# Necessário para o suporte ao spotify.
# Caso tenha duvida de como obter os dados para os campos abaixo, veja o tutorial: https://github.com/zRitsu/disnake-LL-music-bot/wiki/Spotify-Keys
SPOTIFY_CLIENT_ID=''
SPOTIFY_CLIENT_SECRET=''

###############
### Intents ###
###############
BANS_INTENT='false'
DM_MESSAGES_INTENT='false'
DM_REACTIONS_INTENT='false'
DM_TYPING_INTENT='false'
GUILD_MESSAGES_INTENT='true'
GUILD_REACTIONS_INTENT='false'
GUILD_SCHEDULED_EVENTS_INTENT='false'
GUILD_TYPING_INTENT='false'
EMOJIS_AND_STICKERS_INTENT='true'
GUILDS_INTENT='true'
INTEGRATIONS_INTENT='true'
INVITES_INTENT='true'
VOICE_STATES_INTENT='true'
WEBHOOKS_INTENT='false'

##########################
### Privileged Intents ###
##########################
MEMBERS_INTENT='true'
PRESENCES_INTENT='false'
MESSAGE_CONTENT_INTENT='true'

##############################
### Outros itens opcionais ###
##############################

# tempo em segundos para a limpeza de cache do mongo ser feita periodicamente (mínimo 30).
MONGO_CACHE_CLEANUP_INTERVAL=300

# ID de usuário pra lista de owner/dono do bot, caso use mais de 1 id separe por || (Qualquer id que for colocado na lista vai permitir o membro ter acesso total ao bot, tome cuidado!).
OWNER_IDS=''

# Forçar finalizar execução do bot ao dar erro 429 (too many requests)
KILL_ON_429=true

# Ativar/Desativar log de comandos.
COMMAND_LOG=false

# invite do servidor de suporte (exibido no comando about e nos erros dos comandos).
SUPPORT_SERVER=''

# Sincronizar comandos automaticamente ao ligar o bot.
AUTO_SYNC_COMMANDS=true

# Link do webhook para envio de logs quando o bot for adicionado/removido de um server.
BOT_ADD_REMOVE_LOG=''

# Link do webhook para envio dos reports de erros (será ignorado caso seja usado o AUTO_ERROR_REPORT_WEBHOOK).
ERROR_REPORT_WEBHOOK=''

# Link do webhook para envio dos reports de erros automático
# Aviso: é altamente recomendável que o canal que vai receber estes logs seja privado para os devs do bot
# por estar sujeito a exbir informações confidenciais como keys da env/secret etc.
AUTO_ERROR_REPORT_WEBHOOK=''

# cor da embed do player (caso não tenha será usado a cor do cargo do bot).
EMBED_COLOR=none

# Link do github pra ser usado em comandos como o de update.
SOURCE_REPO='https://github.com/zRitsu/disnake-LL-music-bot.git'

# Ocultar link do meu repositório no comando /about. Caso altere isso, por favor considere de alguma forma fornecer crédito. :(
HIDE_SOURCE_OWNER=false

# Não permitir o uso dos comandos de texto com prefixo.
INTERACTION_COMMAND_ONLY=false

# Tempo em segundos para alterar a presence do bot.
PRESENCE_INTERVAL=900

# id de bots adicionais para adicionar invite deles no comando invite (caso use mais de um separe com espaço)
ADDITIONAL_BOT_IDS=""

# id de permissões para incluir no convite do bot
INVITE_PERMISSIONS=401595493456

# Ativar/Desativar log/debug do bot.
ENABLE_LOGGER=false

#########################
### Sistema de música ###
#########################

# Avisar quando o bot não tiver com audio desativado no servidor.
GUILD_DEAFEN_WARN=true

# Link para baixar a lista de servidores lavalink (lavalink.ini)
LAVALINK_SERVER_LIST='https://github.com/zRitsu/LL-binaries/releases/download/0.0.1/lavalink.ini'

# Ativar/Desativar servidor RPC/Página WEB interno.
RUN_RPC_SERVER=false

# Link do servidor RPC (pra status do membro), caso não tenha será usado localmente.
RPC_SERVER='ws://localhost:$PORT/ws'

# limite de favoritos por membro (0 ou menor que isso = sem limites)
MAX_USER_FAVS=10

# limite de caracteres no nome de playlists.
USER_FAV_MAX_NAME_LENGTH=35

# limite de caracteres no link de playlists.
USER_FAV_MAX_URL_LENGTH=90

# Tempo em segundos pro bot aguardar por novas músicas no modo de espera.
IDLE_TIMEOUT=180

# skin padrão do player no modo normal (você pode copiar a skin padrão e deixa-la com outro nome e editar o arquivo a seu gosto, ela não será afetada por minhas alterações em updates das skins originais).
DEFAULT_SKIN='default'

# skin padrão do player no modo song-request (você pode copiar a skin padrão e deixa-la com outro nome e editar o arquivo a seu gosto, ela não será afetada por minhas alterações em updates das skins originais).
DEFAULT_STATIC_SKIN='default'

# ignorar skins da lista do modo normal (nome do arquivo sem .py e caso tenha mais de 1 separe por espaço)
IGNORE_SKINS=''

# ignorar skins da lista do modo song-request (nome do arquivo sem .py e caso tenha mais de 1 separe por espaço)
IGNORE_STATIC_SKINS=''

# Taxa de exibição de dicas no player (quanto maior o valor menor será a chance).
HINT_RATE=4

# quantidade de votos necessários para o comando de voteskip.
VOTE_SKIP_AMOUNT=3

##################################################
### Sistema de música - Local lavalink stuffs: ###
##################################################

# Forçar inicialização do servidor lavalink local (Nota: Iniciar servidor lavalink na mesma instância do bot
# requer uma vps/host com 512mb de ram no mínimo, caso não esteja ativado ignore todos os itens relacionados ao lavalink abaixo.
RUN_LOCAL_LAVALINK=false

# Tempo adicional pra aguardar o servidor lavalink iniciar (atualmente não é muito necessário e talvez em breve irei retirar).
LAVALINK_ADDITIONAL_SLEEP=0

# Quantidade de ram inicial pra ser usado no processo do servidor lavalink.
LAVALINK_INITIAL_RAM=30

# Limite de ram pra ser usado no processo do servidor lavalink.
LAVALINK_RAM_LIMIT=120

# Quantidade de cpu cores pra ser usado no servidor lavalink.
LAVALINK_CPU_CORES=1

# link pra baixar o arquivo Lavalink.jar
LAVALINK_FILE_URL='https://github.com/zRitsu/LL-binaries/releases/download/0.0.1/Lavalink.jar'

#############################################################################################
##### Bot presences:                                                                    #####
##### Status pra exibir no bot, caso queira mais de 1 pra tipo específico separe com || #####
#####                                                                                   #####
##### Placeholders:                                                                     #####
##### {users} -> quantidade de usuários.                                                #####
##### {guilds} -> quantidade de servidores.                                             #####
##### {playing} -> quantidade de players ativos.                                        #####
##### {uptime} -> uptime do bot.                                                        #####
#####                                                                                   #####
##### Ex: estou online há {uptime} || tocando música em {playing} servidores            #####
#############################################################################################
LISTENING_PRESENCES=''
WATCHING_PRESENCES=''
PLAYING_PRESENCES=''

#####################
###### Extras #######
#####################
