language="python3"

run = """[ -z "$IS_SOURCE" ] || { echo "Não pode executar este code a partir desta fonte"; kill "$PPID"; exit 1; }
[ -e pom.xml ] && rm pom.xml
pip3 install -r requirements.txt
clear
python3 main.py"""

[packager]
ignoredPackages=["discord.py", "discord"]