language="python3"

run = """[ -e pom.xml ] && rm pom.xml
(python3.10 --version || (install-pkg python3.10 && install-pkg python3.10.disutils))
python3.10 -m pip install -r requirements.txt
clear
python3.10 main.py"""

[packager]
ignoredPackages=["discord.py", "discord"]