###################################################################
### Aviso: Caso use este arquivo, renomeie para discloud.config ###
###################################################################

##################################################################################################################
### Atenção: A RAM você pode alterar de acordo com o plano contratado (ou quantidade desejada).                ###
### Caso use um plano pago que forneça no mínimo 512MB + 0.5vcpu recomendo que edite o arquivo .env e no campo ###
### AUTO_DOWNLOAD_LAVALINK_SERVERLIST mude o valor true para false                                             ###
###                                                                                                            ###
### Caso queira, você pode alterar o NAME e link do AVATAR.                                                    ###
##################################################################################################################

ID=1234567890
NAME=Muse Heart Music Source
AVATAR=https://i.ibb.co/mDrkdmb/muse.png
TYPE=bot
MAIN=main.py
RAM=100
AUTORESTART=false
VERSION=latest
APT=tools
