ID=1234567890
NAME=Disnake LL Music
AVATAR=https://media.discordapp.net/attachments/792731998451531778/991817084248014990/avatar.png
TYPE=bot
MAIN=main.py
RAM=1024
AUTORESTART=false
VERSION=latest
APT=tools, java