# Nota: Caso use esse arquivo, renomeie para lavalink.ini
# Nota 2: caso algum valor tenha o caractere % você deve usar 2 ao invés de 1, exemplo: %%

[something.host] # nome do node (pode ser qualquer nome)
host=lava.link
port=80
password=youshallnotpass
secure=false
# os 6 itens abaixo não são obrigatórios (você pode simplesmente não incluir as linhas abaixo)
region=us_central
website=https://support.something.host/en/article/lavalink-hosting-okm26z/
search=true
retry_403=false
search_providers=ytsearch scsearch
prefer_youtube_native_playback=true
only_use_native_search_providers=true

#######################

[Darren]
host=n1.ll.darrennathanael.com
port=2269
password=glasshost1984
secure=false
region=us_central
website=https://discord.glasshost.net/
search_providers=ytsearch scsearch

# Lembrando que os servidores acima são públicos, eles podem não estar disponíveis sempre ou ter problemas etc.
# Caso queira procurar por outros nodes públicos, só pesquise por: free lavalink node
