disnake==2.9.3
python-dotenv
user_agent
requests>=2.31.0
humanize
motor
tinymongo
dnspython>=2.6.1
psutil
aiofiles
disnake-jishaku
packaging
aiosqlite
git+https://github.com/yt-dlp/yt-dlp.git@fe70f20aedf528fdee332131bc9b6710e54e6f10
tornado>=6.4.2
emoji
urllib3>=2.2.2
async-timeout
cachetools
regex
syncedlyrics
pylrc
rapidfuzz
nodriver==0.32
undetected-chromedriver==3.5.5
g4f>=0.3.4.5
nest_asyncio
audioop-lts; python_version>='3.13'