git+https://github.com/DisnakeDev/disnake.git@cc1776a76788ac684f7f03bde720b5e22b21606c
python-dotenv
user_agent
requests>=2.31.0
humanize
motor[srv]
tinymongo
dnspython==2.4.0
psutil
aiofiles
disnake-jishaku
packaging
aiosqlite
yt-dlp>=2024.03.10
tornado
emoji
spotipy
urllib3>=2.1.0