#########################################################################################
### Uyarı: Bu dosyayı kullanırsanız, onu squarecloud.config olarak yeniden adlandırın ###
#########################################################################################

####################################################################################################################
### Dikkat: RAM'i sözleşmeye göre (veya istenilen miktara) değiştirebilirsiniz..                                 ###
### En az 512MB RAM + 0.5vcpu sağlayan ücretli bir plan kullanmanızı ve .env dosyasını düzenlemenizi öneririm    ###
### ve AUTO_DOWNLOAD_LAVALINK_SERVERLIST alanında true değerini false olarak değiştirin                          ###
###                                                                                                              ###
### İsterseniz DISPLAY_NAME, DESCRIPTION ve AVATAR bağlantısını değiştirebilirsiniz.                             ###
####################################################################################################################

DISPLAY_NAME=Muse Heart Music Source
DESCRIPTION=Source de música criada por: xritsu [DC ID: 184889853102653440] source link: https://github.com/zRitsu/MuseHeart-MusicBot
MAIN=main.py
MEMORY=512
VERSION=recommended
