DISPLAY_NAME=Disnake LL Music
DESCRIPTION=Source de música criada por: xRitsu [184889853102653440]
MAIN=main.py
MEMORY=2048
VERSION=recommended
AVATAR=https://media.discordapp.net/attachments/792731998451531778/991817084248014990/avatar.png